#who-we-are {
    padding-top: 1.1em;
    text-align: center;
    h2 {
        font-size: 1.2em;
        color: white;
        margin-bottom: 0;
    }
    p {
        font-size: 0.8em;
        line-height: 2;
        font-weight: lighter;
        color: $text-color-secondary;
    }
}