#copyright {
    font-size: 0.7em;
    text-align: center;
    color: $text-color-secondary;
    .copyright-info {
        color: $text-color-primary-light;
    }
}

footer .wrapper {
    padding-bottom: 2em;
}