.main-header {
	background-color: white;
	box-shadow: 0 0 9px $text-color-secondary;
	display: block;
	font-size: 1rem;
	padding-left: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 15;
	h1 {
		display: inline-block;
		margin-left: 1em;
	}
}

.logo-text-1 {
	fill: $color-primary;
}

.logo-text-2 {
	fill: $text-color-primary-dark;
}

#hamburguerMenu {
	cursor: pointer;

	transition: ease all 0.5s;

	&:hover {
		color: $color-primary;
	}
}

#contact {
	display: none;
}

@media screen and (min-width: 770px) {
	.main-header {
		.social-media-item {
			background: $color-primary;

			&:hover {
				background: white;
				box-shadow: inset 0 0 1px 2px $color-primary;
			}

			&:hover .fa {
				color: $color-primary;
			}
		}
	}

	#contact {
		display: block;
		position: absolute;
		right: 0;
		top: 5%;
		width: 25em;
	}

	#call-us {
		display: inline-block;
		text-align: center;
		width: 8em;

		a,
		a:link,
		a:visited {
			color: white;
		}

		&:hover a {
			color: $color-primary;
		}

		&:hover {
			background-color: $transparent;
		}
	}

	.social-media {
		display: inline-block;
	}
}
