#newsletter-offer {
	color: $text-color-secondary;
	font-size: 0.7em;
	font-weight: lighter;
	line-height: 2;
	text-align: center;
}

#newsletter {
	padding-top: 1em;
	h2 + p {
		@include oswald-style();
		color: white;
		font-size: 1.2em;
		margin-bottom: 0;
		text-align: center;
	}
	form {
		background-color: $text-color-primary-dark;
		border-radius: 5px;
		border: 1px solid $text-color-secondary;
		margin: 0 auto;
		max-width: 300px;
		position: relative;
		width: 60%;
		fieldset {
			width: 100%;
		}
		input[type="email"] {
			background-color: $transparent;
			border: none;
			color: $text-color-secondary;
			font-style: italic;
			font-weight: lighter;
			outline: none;
			padding-bottom: 0.75em;
			padding-left: 1em;
			padding-top: 0.75em;
			width: 72%;
		}
		button {
			@include vertically-centered();
			background-color: $transparent;
			border: none;
			position: absolute;
			right: 2%;
			top: 50%;
		}
		.fa-paper-plane {
			color: $text-color-secondary;
			transition: ease all 0.5s;
		}
	}
}
