#achievement {
	background-attachment: fixed;
	background-image: url("https://livedemo00.template-help.com/wt_60074/images/parallax-01.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	padding-bottom: 2em;
	text-align: center;
	.wrapper {
		height: 100%;
		position: relative;
	}
	.wrapper > div {
		@include fully-centered();
		width: inherit;
	}
	p {
		@include oswald-style();
		color: white;
		font-size: 2em;
		margin-top: 0;
		width: 100%;
	}
}
