#presentation {
    background: black;
    color: white;
    height: 85vh;
    position: relative;
    text-align: center;
    .wrapper {
        @include fully-centered();
        position: absolute;
        width: inherit;
    }
}
