.wrapper {
  padding: 0 5%;
  width: 90%;
}

.main-layout {
  position: relative;
}

.brand-text {
  color: $primary-color;
}

.brand-title {
  font-size: $title-font-size;
  margin-bottom: $title-margin;
  text-transform: uppercase;
}
