h1,
h2,
h3,
h4,
h5,
h6 {
  @include OswaldFontFace();
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: $app-bar-height;
}

footer {
  background-color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

a {
  &:link,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

q {
  @include OpenSansFontFace();
  color: $secondary-text-color;
  line-height: 2;
}

::-webkit-scrollbar {
	display: none;
}
