@mixin fully-centered() {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin vertically-centered() {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin OpenSansFontFace() {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@mixin OswaldFontFace() {
  font-family: Oswald, serif;
  font-weight: bold;
  text-transform: uppercase;
}

$browser-context: 16;
@mixin bp($bp, $min-max: min-width) {
  $em: $bp/$browser-context;
  @media(#{$min-max}: #{$em}em) { @content; }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}
