// Base
$default-transition-time: 0.5s;
$almost-full-width: 90%;
$full-width: 100%;
$full-height: 100%;

$app-bar-height: em(95);

$navigation-drawer-width: em(270);
$navigation-drawer-padding: em(32);
$navigation-drawer-height: $full-height;
$navigation-drawer-z-index: 1;

$introduction-carousel-height: em(752);
$services-section-height: em(400);

$achievement-section-height: em(752);
$choose-us-section-height: em(752);
$stats-section-height: em(752);
$tips-section-height: em(650);

// brand-title
$title-font-size: 2em;
$title-margin: 2em;

$app-bar-z-index: 2;
