#reviews {
	padding-top: 3em;
	h2 {
		@include green-tech-style();
		text-align: center;
		width: auto;
	}
	img {
		border-radius: 50%;
	}
	cite {
		font-style: normal;
	}
}

.review-list {
	ul {
		border-top: 1px solid $text-color-secondary;
		li {
			line-height: 2;
		}
	}
}

.featured-review {
	text-align: center;
	margin: 4em 0;
}

.reviewer-profile {
	color: $text-color-secondary;
	font-size: 0.75em;
	font-style: italic;
	margin: 0;
}

.reviewer-info,
.reviewer-photo {
	display: inline-block;
	vertical-align: middle;
}

.reviewer-photo {
	width: 70px;
}

.reviewer-info {
	width: 65%;
	margin-left: 5px;
}

.reviewer-name {
	@include open-sans();
	font-size: 0.75em;
	margin: 0;
	text-transform: uppercase;
}

.reviewer-quote {
	@include open-sans();
	background-color: #f5f5f5;
	border-radius: 10px;
	border: 1px solid #e5e5e5;
	font-size: 0.8em;
	padding: 20px 20px 30px;
	text-indent: 20px;
}

@media screen and(min-width:770px) {
	#reviews {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			vertical-align: top;
			width: 45%;
		}
	}
}

@media screen and(min-width: 993px) {
	#reviews {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			vertical-align: top;
			width: 30%;
		}
	}
}
