$color-primary: #5dd39e;
$color-primary-dark: #3dd39e;
$text-color-primary-dark: #333;
$text-color-primary-light: #fff;
$text-color-secondary: #888;
$color-default: #eee;
$transparent: rgba(0, 0, 0, 0)
